* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-top: 80px; /* Offset for fixed header */
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #e5533c;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #e5533c;
    border: 0.5px solid #e5533c;
    border-radius: 10px;
}

.user-actions {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.user-actions a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.user-actions a:hover {
    background-color: #e5533c;
    color: #fff;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
}

.feedback-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;  /* Increased width */
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #e5533c;
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 180px;
    width: 100%;  /* Increased height */
}

textarea #feedback{
    width: 400px;
}

button {
    background-color: #e5533c;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #d4422b;
}

.user-actions a#login-button {
    /* Style for Sign in button */
    background-color: #FF6347;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.user-actions a#logout-button {
    /* Style for Logout button */
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
